@page "/"

<h1 style="color: #5e9ca0;"><span style="color: #000080;">Group Ten's Proof of Concept ReadMe</span></h1>
<h2 style="color: #2e6c80;"><span style="color: #800080;">Here's what we've implemented:</span></h2>
<ul>
    <li>
        Client side:&nbsp;
        <ul>
            <li>Google Authenticator</li>
            <li>Simple Telerik Grids for each table in our schema</li>
            <li>
                Each grid can:&nbsp;
                <ul>
                    <li>Update data</li>
                    <li>Delete data</li>
                    <li>Insert data</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        Database side:&nbsp;
        <ul>
            <li>
                Triggers to manage REST calls:&nbsp;
                <ul>
                    <li>Uses GUIDs to verify and validate data</li>
                    <li>Modification and insertion footprints</li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        Code side:&nbsp;
        <ul>
            <li>Implement REST API Services&nbsp;</li>
            <li>Wrote Razor HTTP Handlers to employ REST Services</li>
            <li>Defined Data Transfer Objects to make database content portable&nbsp;</li>
        </ul>
    </li>
</ul>
<h2 style="color: #2e6c80;"><span style="color: #800080;">What next?</span></h2>
<ul>
    <li>
        Client side:&nbsp;
        <ul>
            <li>Include other platforms for authentication</li>
            <li>Implement dropdown menus in grids</li>
        </ul>
    </li>
    <li>
        Database side:&nbsp;
        <ul>
            <li>Add triggers to enforce business rules</li>
            <li>Add rules to enforce defensive security</li>
        </ul>
    </li>
    <li>
        Code side:&nbsp;
        <ul>
            <li>Add filter logic</li>
            <li>Improve error handling</li>
        </ul>
    </li>
</ul>
<p>&nbsp;</p>
<p>Thanks for a great class! -Team Ten :D&nbsp;</p>